@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap");

body {
  background-color: rgb(255, 226, 248);
  background: linear-gradient(
    354deg,
    rgba(255, 226, 248, 1) 0%,
    rgba(255, 238, 238, 1) 100%
  );
  font-family: "Jost", sans-serif;
}
.master-container {
  display: flex;
  justify-content: center;
  padding: 65px;
}
.container {
  display: flex;

  background-color: rgb(255, 255, 255);
  box-shadow: 0 0 10px 5px rgb(216, 112, 147, 0.3);
  width: 30rem;
  height: 25rem;
  border-radius: 15px;
  padding: 20px;
}
.img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 15rem;
}

img {
  width: 250px;
  height: 250px;
}
.product-info {
  width: 18rem;
  margin-left: 5px;
  padding: 10px;
}
.delivery-info {
  background-color: rgb(216, 112, 147);
  font-size: smaller;
  color: white;
  width: 100px;
  border-radius: 10px;
}
.prod-name {
  font-size: larger;
  justify-content: center;
  display: flex;
  text-align: center;
}
ul li {
  font-size: 12px;
}
.offer-container{
  display: flex;
  justify-content: center;
  color: gray;
  font-size:11px;
  text-align: center;
}
.cart-btn{
  width: 278px;
  border: solid 1.5px;
  background: rgb(252,155,217);
  background: radial-gradient(circle, rgba(252,155,217,1) 0%, rgba(243,57,143,1) 100%);
  font-family: inherit;
  padding: 8px;
}
a{
  color: transparent;
}
button{
  cursor: pointer;
}
.btm-btn{
  width: 136px;
  font-family: inherit;
  border: solid 1.5px;
  background: rgb(252,155,217);
  background: radial-gradient(circle, rgba(252,155,217,1) 0%, rgba(243,57,143,1) 100%);
  padding: 8px;
  margin-top: 2px;
}